.title{
  margin-bottom: 10px;
  text-align:center;
  width: 210px;
  color:rgb(33, 6, 188);
  border: solid black 2px;
  }

  input[type="button"]
  {
  background-color:rgb(6, 105, 88);
  color: black;
  border: solid black 2px;
  width:100%
  }

  input[type="text"]
  {
  background-color:rgb(199, 142, 11);
  border: solid black 2px;
  width:100%
  }
  